* {
    box-sizing: border-box;
  }

.header{
    width: 1280px;
    height: 120px;
    display: flex;
    justify-content: space-between;
}

.header-logo{
    width: 184px;
    height: 60px;
}

body{
    margin: 0;
}

.nav-menu{
    list-style-type: none;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    padding: 46px 40px 0px 0px;
}

.nav-menu-item{
    
}