@font-face {
    font-family: Georgia;
    src: url("assets/fonts/Georgia/georgia.ttf");
}

@font-face {
    font-family: Arial;
    src: url("assets/fonts/Arial/ARIAL.TTF");
}

* {
    box-sizing: border-box;
  }

.header{
    width: 1280px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    background-image: url("assets/img/start-screen-gradient-background.jpg");
}

.header-logo-wrapper{
    width: 184px;
    height: 60px;
    margin: 0px 0px 0px 40px;
}

.header-logo{
    color: #f1cdb3;
    font-size: 32px;
    font-family: Georgia;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header-logo-description{
    font-size: 13px;
    color: #ffffff;
    font-family: Arial;
}

body{
    margin: 0;
}

.nav-menu{
    list-style-type: none;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    padding: 46px 40px 0px 0px;
}

.nav-menu-item{
    color: #cdcdcd;
}

.nav-menu-item:hover{
    text-decoration: underline;
}